<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <table class="table">
        <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
            <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
            </tr>
            <tr>
              <th>follows</th>
              <th><%= current_user.followings.count %></th>
            </tr>
            <tr>
              <th>followers</th>
              <th><%= current_user.reverse_of_relationships.count %></th>
            </tr>
        </table>
          <div>
          <%= link_to '', edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
          </div>


          <div class="row">
        <h1>New book</h1>
         <%= form_with model: @book, url:'/books', local:true do |f| %>
          <h4>Title</h4>
         <%= f.text_field :title %>
          <h4>Opinion</h4>
         <%= f.text_field :body %>
         <%= f.submit 'Crate Book' %>
         <% end %>
        </div>
      </div>

          <div class="col-xs-9">
       <h3>Users</h3>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
            </tr>
          </thead>

          <tbody>
           <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg") %>
              </td>
             <td>
              <%= user.name %>
             </td>
             <td>
               フォロー数:<%= user.followings.count %>
             </td>
             <td>
               フォロワー数:<%= user.reverse_of_relationships.count %>
             </td>
             <td>
             <% unless current_user == user %>
              <% if current_user.following?(user) %>
                <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
            <% end %>
            </td>
             <td>
              <%= link_to "Show",user_path(user) %>
             </td>
            </tr>

             <% end %>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>